{{define "page:title"}}Example page{{end}}

{{define "page:main"}}
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-4">
    <div class="px-4 py-5 sm:px-6">
        <p class="text-xl font-bold text-center"><a href="https://www.blackchantry.com/">Black Chantry Productions</a></p>
    </div>
    <div class="px-4 py-5 sm:p-6">
        <p>Current publisher of VTES</p>
    </div>
</div>
{{end}}
