{{define "page:title"}}Server error{{end}}

{{define "page:main"}}
<h1>Server error</h1>
<p>Sorry, we are having a problem with our system. The error has been recorded and we will try to resolve it as soon as possible.</p>
{{end}}
