{{define "subject"}}Reset your password{{end}}

{{define "plainBody"}}
Hi,

Someone (hopefully you) has requested a password reset for your {{.BaseURL}} account. Follow the link below to set a new password:

Please go to the following page and set a new password:

{{.BaseURL}}/password-reset/{{.PlaintextToken}}

If you don't wish to reset your password, disregard this email and no action will be taken.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>Someone (hopefully you) has requested a password reset for your <a href="{{.BaseURL}}">{{.BaseURL}}</a> account. Follow the link below to set a new password:</p>
    <p><a href="{{.BaseURL}}/password-reset/{{.PlaintextToken}}">{{.BaseURL}}/password-reset/{{.PlaintextToken}}</a></p>
    <p>If you don't wish to reset your password, disregard this email and no action will be taken.</p>
  </body>
</html>
{{end}}